In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [2]:
df = pd.read_csv("County_Total_Full_Data_data.csv",parse_dates=True)

In [3]:
df.dtypes

County2                          object
Date Added                       object
Date Added (copy)                object
7-day Average                   float64
Freq Count - Hawaii               int64
Freq Count - Honolulu             int64
Freq Count - Kauai                int64
Freq Count - Maui                 int64
Freq Count per County             int64
Freq Count per County Over 7      int64
Frequency Count                   int64
dtype: object

In [4]:
df["Date Added"] = pd.to_datetime(df["Date Added"],infer_datetime_format=True)
df["Date Added (copy)"] = pd.to_datetime(df["Date Added (copy)"],infer_datetime_format=True)

In [5]:
df.dtypes

County2                                 object
Date Added                      datetime64[ns]
Date Added (copy)               datetime64[ns]
7-day Average                          float64
Freq Count - Hawaii                      int64
Freq Count - Honolulu                    int64
Freq Count - Kauai                       int64
Freq Count - Maui                        int64
Freq Count per County                    int64
Freq Count per County Over 7             int64
Frequency Count                          int64
dtype: object

In [6]:
df = df.loc[:,['County2','Date Added','Frequency Count']].rename(columns={'County2':'County',
                                                                           'Date Added':'Date',
                                                                           'Frequency Count':'Count'})

In [7]:
df['Date'].describe()

count                     474
unique                    203
top       2020-03-22 00:00:00
freq                        4
first     2020-03-05 00:00:00
last      2020-10-11 00:00:00
Name: Date, dtype: object

In [8]:
df

       County       Date  Count
0    Honolulu 2020-03-05      1
1    Honolulu 2020-03-08      1
2       Kauai 2020-03-13      2
3    Honolulu 2020-03-14      2
4        Maui 2020-03-14      1
..        ...        ...    ...
469  Honolulu 2020-10-09     59
470    Hawaii 2020-10-10     24
471  Honolulu 2020-10-10     79
472    Hawaii 2020-10-11      5
473  Honolulu 2020-10-11     37

[474 rows x 3 columns]

In [9]:
df["County"].unique()

array(['Honolulu', 'Kauai', 'Maui', 'Hawaii'], dtype=object)

In [10]:
dfOahu = df.loc[df['County']=='Honolulu',['Date','Count']]

In [11]:
dfOahu = dfOahu.rename(columns={'Count':'Oahu'})

In [12]:
dfOahu.set_index("Date",inplace=True)

In [13]:
#dfOahu.rolling(7).mean().plot(figsize=(20,10));

In [14]:
dfOahu.describe()

             Oahu
count  192.000000
mean    62.854167
std     77.445469
min      1.000000
25%      4.750000
50%     23.000000
75%     96.750000
max    342.000000

In [15]:
dfOahu = dfOahu.asfreq('D',fill_value=0)

In [28]:
dfOahu.describe()

             Oahu
count  221.000000
mean    54.606335
std     75.230396
min      0.000000
25%      2.000000
50%     17.000000
75%     88.000000
max    342.000000

In [17]:
dfKauai = df.loc[df['County']=='Kauai',['Date','Count']]
dfKauai = dfKauai.rename(columns={'Count':'Kauai'})
dfKauai.set_index("Date",inplace=True)
dfKauai = dfKauai.asfreq('D',fill_value=0)

In [18]:
dfMaui = df.loc[df['County']=='Maui',['Date','Count']]
dfMaui = dfMaui.rename(columns={'Count':'Maui'})
dfMaui.set_index("Date",inplace=True)
dfMaui = dfMaui.asfreq('D',fill_value=0)

In [19]:
dfHawaii = df.loc[df['County']=='Hawaii',['Date','Count']]
dfHawaii = dfHawaii.rename(columns={'Count':'Hawaii'})
dfHawaii.set_index("Date",inplace=True)
dfHawaii = dfHawaii.asfreq('D',fill_value=0)

In [20]:
df = dfOahu.join(dfHawaii)
df = df.join(dfMaui)
df = df.join(dfKauai)

In [21]:
df = df.fillna(0)

In [22]:
df

            Oahu  Hawaii  Maui  Kauai
Date
2020-03-05     1     0.0   0.0    0.0
2020-03-06     0     0.0   0.0    0.0
2020-03-07     0     0.0   0.0    0.0
2020-03-08     1     0.0   0.0    0.0
2020-03-09     0     0.0   0.0    0.0
...          ...     ...   ...    ...
2020-10-07    86    14.0   1.0    0.0
2020-10-08   108    44.0   0.0    0.0
2020-10-09    59    14.0   0.0    0.0
2020-10-10    79    24.0   0.0    0.0
2020-10-11    37     5.0   0.0    0.0

[221 rows x 4 columns]

In [24]:
df.to_csv('daily_cleaned.csv')